/*Specifications*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1B262C;
    color: #fff;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.btn_act {
    background-color: #7971E9;
    border-radius: 35px;
    margin-top: 30px;
    padding: 10px 40px;
    border: none;
    color: #fff;
}

.offer__title {
    color: #fff;
    font-size: 48px;
    width: 540px;
    font-weight: 300;
}

.offer__text {
    color: #8A8F95;
}

.offer__link {
    color: #7971E9;
    font-weight: 700;
}

.offer__link:hover {
    text-decoration: none;
    color: #7971E9;
}

#aplayer {
    display: none;
    bottom: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: transparent;
    transition: .5s all ease;
}

#aplayer.showPlayer {
    display: block;
}

.close {
    display: block;

    cursor: pointer;
}

/*Header*/

.header {
    padding-top: 44px;
    padding-bottom: 38px;
    background-color: #293942;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    transition: .3s ease-out;
    letter-spacing: 1.35px;
}

.logo:hover {
    text-decoration: none;
    color: #7971E9;
}

.menu__item {
    margin: 0 25px;
}

.menu__item a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    transition: .3s ease-in;
}

.menu__item a:hover {
    text-decoration: none;
    color: #7971E9;
}

.btn {
    margin-top: -10px;
    cursor: pointer;
    padding: 12px 50px;
    /* width: 160px;
    height: 55px; */
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid #7971E9;
    background: transparent;
    color: #7971E9;
    transition: .3s ease-in;
}

.btn:hover {
    text-decoration: none;
    background-color: #7971E9;
    border: none;
    color: #000 !important;
}

/*Sub header*/

.sub_header {
    background: url(../img/bg.png);
    background-size: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.sub_header .offer .offer__title {
    margin-bottom: 50px;
}

.icons {
    margin-top: 50px;
}

.icons__item {
    margin-right: 20px;
}

.icons__item .button{
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    background-color: #000;
    border: none;
    color: #fff;
}

.icons__item .button span {
    font-weight: 700;
    font: 18px;
}

/*Sponsors*/

.sponsors {
    padding: 44px 0;
    background-color: #293942;
}

.company__item {
    margin-right: 80px;
}

/*Recomend*/

.recomend {
    padding-top: 80px;
}

.recomend .offer {
    margin: 100px 0;
}

.album__poster:hover {
    text-decoration: none;
}

.singer {
    margin: 10px;
    transition: .3s;
}

.singer:hover {
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}

/*Pick*/

.pick {
    padding-top: 100px;
}

.pick .offer {
    margin: 100px 0;
}

/*Why*/

.why {
    padding-top: 100px;
}

.feature {
    margin: 30px;
}

.feature__title {
    font-size: 32px;
    border-left: 3px solid #7971E9;
    border-radius: 1px;
    padding-left: 15px;
}

.feature__text {
    padding-left: 15px;
    color: #8A8F95;
}

/*Up footer*/

.up_footer {
    background-color: #293942;    
    padding-top: 30px;
    padding-bottom: 70px;
}

.block .offer__text {
    margin-top: 20px;
    width: 400px;
}

.block__item {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
}

.block__title {
    color: #8A8F95;
    font-size: 24px;
    margin-bottom: 20px;
}

/*Footer*/

.footer {
    padding: 20px 0;
}

.social__item a {
    font-size: 18px;
    color: #fff;
    margin-right: 40px;
    transition: .3s ease-in;
}

.social__item a:hover { 
    color: #7971E9;
}


/* Main */

.main {
    background: url(../img/plan_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding: 180px 0;
}

.main .offer {
    text-align: center;
    /* background-color: red; */
}

.main .offer__title {
    font-weight: 700;
    width: 100%;
}

/*PlanChoose*/

.planChoose {
    padding: 100px 0;
}

.plan {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 80px;
    transition: .5s;
    background: linear-gradient(180deg, #7971E9 0%, rgba(121, 113, 233, 0) 100%, #1B262C 100%);
}

.plan:hover {
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
 }

.plan__head {
    color: #fff;
    padding-top: 45px;
    padding-bottom: 65px;
    max-height: 210px;
}

.plan__head h2, span {
    font-size: 22px;
    font-weight: 700;
}

.plan__body {
    margin-bottom: 60px;
}

.plan__body li{
    margin-bottom: 15px;
}

.plan__active {
    font-weight: 700;
}

.plan__inactive {
    color:  #8A8F95; 
}

.plan__button {
    color: #fff;
    background-color: #7971E9;
    border: none;
    border-radius: 24px;
    padding: 10px 40px;
}

.terms {
    margin-top: 60px;
    text-align: center;
    color: #8A8F95;
    font-weight: 300;
}

/*Sign IN*/

.signin {
    background: url(../img/bg.png);
    background-size: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.formsign {
    max-width: 400px;
    text-align: center;
}

.formsign__offer {
    font-size: 36px;
    font-weight: 300;
}

.formsign__btnb {
    background-color: #000;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#signin > div > div > div > div > div > button:nth-child(2) {
    background-color: #2553B4;
    font-weight: 700;
}

#signin > div > div > div > div > button:nth-child(3) {
    background-color: #fff;
    color: #8A8F95;
    padding: 10px 60px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.formsign__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
}

/* Admin */


/*Chart*/

.chart{
    padding: 120px;
}

.chart__title {
    font-size: 32px;
    
}

.chart__subtitle {
    font-size: 18px;
}

.chart__gray {
    font-size: 14px;
    font-weight: 300;
    color: #8A8F95; 
}

.chart__block {
    padding: 0 80px;
    border: 1px solid #EAEAEA;
}

.chart__tracks {
    margin: 0 80px;
}


/*Track*/

.track__block {
    padding-bottom: 60px;
}

.track__text p {
    color: #8A8F95;
    font-size: 14px;
    font-weight: 300;
}


/* Profile */

.p_category {
    border-bottom: 2px solid #7971E9;
}

.p_category a {
    color: #7971E9;
}


/* Album */

#album-section .album-info:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

#album-section .album-art {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#album-section .album-art * {
    border-radius: 3px;
}

#album-section .album-details h1 {
	margin: 15px 0px 20px 0px;
  font-size: 50px;
  font-weight: 500;
  word-wrap: break-word;
}

#album-section .album-details span:first-child {
	padding-bottom: 10px;
}

#album-section .album-details span {
	display: block;
	font-size: 20px;
}

#album-section .album-details p {
    margin-top: 15px;
	font-size: 16px;
	text-align: justify;
}

#album-section .album-tracks {
  margin-top: 20px;
}

#album-section .album-tracks ol li:hover {
	background-color: #404040;
}

#album-section .album-tracks ol {
    list-style-type: none;
    padding: 20px 36px;
    font-weight: 500;
}

#album-section .album-tracks ol li {
    counter-increment: number;
    display: flex;
	flex-wrap: initial;
	justify-content: space-between;
	align-items: center;
	align-content: initial;
    height: 45px;
}

.album-track-name:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.album-track-name:first-child:before {
    content: counter(number);
    margin-right: 2em;
    display: inline-block;
    text-align: end;
    width: 20px;
}

.album-tracks {
    background: rgba(255, 255, 255, 0.1);
    border: none;
}


/* Search */

/* .container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
} */

.container-4 input#search{
    padding: 10px 2px;
    background: #2b303b;
    border: none;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover{
    background: white;
}